/auth.json
dist
.DS_Store
.env
.env.backup
.env.production
/.fleet
Homestead.json
Homestead.yaml
/.idea
/node_modules
node_modules
/.nova
npm-debug.log
.phpactor.json
/.phpunit.cache
.phpunit.result.cache
/public/build
/public/hot
/public/storage
server/public
/storage/*.key
/storage/pail
*.tar.gz
/vendor
vite.config.ts.*
/.vscode
yarn-error.log
/.zed
.git
